@import url("utilities/height.css");
@import url("utilities/background.css");
@import url("utilities/margin.css");
@import url("utilities/border.css");
@import url("utilities/width.css");
@import url("utilities/color.css");
@import url("utilities/font.css");
@import url("utilities/padding.css");

.page-accueil {
height: 100vh;
background-image: url(../images/background-1.jpg);
background-repeat: no-repeat;
background-size: cover;

}

.box-nouveaute-1 img {
	    box-shadow: 0 0 5px 3px rgba(0,0,0,.05);
}

.box-nouveaute-2 img {
	    box-shadow: 0 0 5px 3px rgba(0,0,0,.05);
}
